<h1>Editing playoff bracket</h1>

<%= render "form", playoff_bracket: @playoff_bracket %>

<br>

<div>
  <%= link_to "Show this playoff bracket", @playoff_bracket %> |
  <%= link_to "Back to playoff brackets", playoff_brackets_path %>
</div>
